@import '../../../../../styles/variables';

.circle {
  $size: 145px;

  position: relative;
  display: flex;
  width: $size;
  min-width: $size;
  height: $size;
  min-height: $size;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-image: url('../../../../../assets/images/circle.svg');
  background-size: cover;

  p {
    z-index: 1;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25em;

    &:first-child {
      font-size: 14px;
    }

    &:last-child {
      width: 94px;
      font-size: 12px;
      font-weight: 600;
      line-height: 1.25em;
      text-align: center;
    }
  }

  &::before {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: $main-background;
    content: '';
    transform: translate(-50%, -50%);
  }
}
