@import '../../../../../styles/variables';

.container {
  max-width: 300px;
  margin: 95px 0 0 32px;
  color: $dark-text;

  li {
    .triangle {
      transform: translateY(25%);
    }

    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
    gap: 13px;
    line-height: 1.5;

    @include font-size-media(14px, 12px, 900px);
  }

  @include min-width-media(1050px) {
    margin: 0;
  }
}
