@import '../../../../styles/variables';

.nav {
  display: flex;
  color: $black;
  font-size: 16px;
  font-weight: 700;
  gap: 48px;
  letter-spacing: 0.03em;
  line-height: 1em;

  .menu {
    display: none;
  }

  a {
    color: $black;

    @include reset-linc;

    @include hover {
      color: $primary;
    }

    transition: $transition;
  }

  @include min-width-media(900px) {
    display: none;
    width: 100%;
    flex-direction: column;
    background-color: $main-background;
    gap: 0;
    text-align: center;

    a {
      display: none;
      padding: 23px;

      @include hover {
        background-color: #dabef96e;
      }
    }

    &.nav-open {
      display: flex;
      padding-top: 10px;

      a {
        display: initial;
      }
    }
  }
}
