@import '../../../../../styles/variables';

.container {
  display: flex;
  width: max-content;
  gap: 96px;

  .manager {
    position: relative;

    .quote {
      position: absolute;
      right: -128px;
      bottom: -27px;
      max-width: 360px;
      box-sizing: border-box;
      padding: 32px;
      border-radius: 11.9362px;
      background: linear-gradient(331.41deg, #f0ebff -4.05%, $white 34.42%);
      box-shadow: 0 13.5277px 39.7872px rgb(187 166 255 / 20%);
      color: $secondary-text;
      font-style: italic;
      line-height: 1.33;

      @include font-size-media(12px, 11px, 660px);

      &::before {
        content: '“';
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 0;
        vertical-align: middle;
      }
    }
  }

  .card {
    max-width: 470px;
    margin-top: 57px;
    color: $dark-text;

    .post {
      line-height: 1.42;

      @include font-size-media(14px, 12px, 660px);
    }

    .name {
      color: $secondary-text;
      font-weight: 700;
      line-height: 1.38;

      @include font-size-media(32px, 24px, 660px);
    }

    .experience {
      margin-top: 16px;
      font-weight: 500;
      line-height: 1.42;

      @include font-size-media(14px, 12px, 660px);
    }

    .description {
      margin-top: 32px;
      line-height: 1.42;

      @include font-size-media(14px, 12px, 660px);

      .list {
        padding-left: 25px;

        li {
          list-style-type: disc;
        }
      }
    }

    .end {
      margin-top: 16px;
      line-height: 1.42;
    }

    .btn {
      margin-top: 32px;
    }
  }

  @include min-width-media(1050px) {
    width: unset;
    flex-direction: column-reverse;
    align-items: center;
    gap: 32px;

    .manager {
      transform: translateX(-64px);
    }

    .card {
      margin-top: 0;
    }
  }

  @include min-width-media(660px) {
    padding: 0 20px;

    .manager {
      transform: translateX(0);

      img {
        width: 72.5%;
      }

      .quote {
        right: 0;
        bottom: -41px;
        width: 241px;
        height: 106px;
        padding: 16px;
      }
    }

    .card {
      display: flex;
      flex-direction: column;

      .post,
      .name {
        text-align: center;
      }

      .btn {
        margin-top: 16px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}
