@import '../../../../../styles/variables';

.container {
  display: inline-flex;
  width: 712px;
  height: 164px;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 30px 45px;
  border-radius: 10px;
  background-color: $main-background;
  box-shadow: 0 4px 100px rgb(208 218 227 / 57%);
  gap: 32px;

  .advantage {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625em;
  }

  @include min-width-media(900px) {
    width: fit-content;
    height: unset;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 24px;

    .advantage {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}
