@import '../../../../../styles/variables';

.wrap {
  width: 100%;
  background-color: $primary;

  .container {
    position: relative;
    display: flex;
    max-width: $container-width;
    padding: 96px 80px;
    margin: auto;
    color: $white;

    .title {
      max-width: 410px;
      font-weight: 700;
      line-height: 1.375;

      @include font-size-media(32px, 24px, 900px);
    }

    .cards {
      display: flex;
      margin-left: auto;
      gap: 8px;

      .card {
        min-width: 127px;
        max-width: 180px;
        text-align: center;

        .label {
          font-weight: 700;
          line-height: 1.5;

          @include font-size-media(32px, 24px, 900px);
        }

        @each $item, $deg, $first,
          $second
            in (
              (1, 93, 11%, 78%),
              (2, 94, -5.87%, 56%),
              (3, 251.02, 20.12%, 67.2%),
              (4, 256.22, 27.2%, 59.85%)
            )
        {
          &:nth-child(#{$item}) {
            .label {
              background: linear-gradient(
                  #{$deg}deg,
                  #4614e8 #{$first},
                  #bca7ff #{$second}
                ),
                $white;
              background-clip: text !important;
              -webkit-text-fill-color: transparent;
            }
          }
        }

        .text {
          margin-top: 12px;
          font-weight: 400;
          line-height: 1.4;

          @include font-size-media(14px, 12px, 900px);
        }
      }
    }

    @include min-width-media(1200px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;

      .title {
        text-align: center;
      }

      .cards {
        display: grid;
        margin-left: unset;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
      }
    }

    @include min-width-media(900px) {
      padding: 48px 20px;
    }
  }
}
