@use 'sass:color';
@import '../../styles/variables';

.button {
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 15px;
  background-color: $primary;
  color: $white;
  cursor: pointer;
  line-height: 1.125em;
  transition: $transition;

  @include font-size-media(16px, 14px, 700px);
  @include font-size-media(16px, 12px, 500px);

  @include hover {
    background-color: color.adjust($primary, $lightness: 10%);
  }

  @include min-width-media(900px) {
    height: 50px;
    padding: 8px 32px;
    border-radius: 10px;
  }
}
