@import '../../../../../styles/variables';

.cards {
  $gap: 32px;
  $blue-color: #737373;
  $card-width: 513px;
  $accent-color: #2741d0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $gap;

  .card {
    display: flex;
    width: $card-width;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px;
    border-radius: 20px;
    background-color: $white;

    .content {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .header {
        color: $accent-color;
        font-weight: 700;
        line-height: 1.5;
        text-transform: uppercase;

        @include font-size-media(16px, 12px, 600px);
      }

      .participant {
        color: $blue-color;
        line-height: 1.5;

        @include font-size-media(14px, 12px, 600px);
      }

      .price {
        color: $dark-text;
        font-weight: 700;
        line-height: 1.5;

        @include font-size-media(16px, 14px, 600px);
      }

      .available {
        color: $dark-text;
        font-weight: 500;
        line-height: 1.5;

        @include font-size-media(16px, 14px, 600px);
      }

      .items {
        display: flex;
        flex-direction: column;
        gap: 16px;

        li {
          display: flex;
          align-items: baseline;
          color: $dark-text;
          gap: 10px;
          line-height: 1.5;

          @include font-size-media(16px, 12px, 600px);

          .triangle {
            transform: translateY(20%) scale(0.7);
          }
        }
      }
    }

    .buttons {
      margin-top: 16px;

      .more {
        @include reset-linc;
        @include font-size-media(16px, 12px, 600px);

        color: $accent-color;
        font-weight: 500;
        line-height: 2.5;
      }

      .btn {
        margin-top: 16px;
        font-weight: 500;
      }
    }

    &:first-child {
      $width: $card-width * 2 + $gap;

      flex-basis: $width;
      align-items: center;

      .content {
        align-items: center;
      }

      .items {
        max-width: 650px;
        flex-flow: row wrap;
        gap: 0;

        li {
          box-sizing: border-box;
          flex-basis: 50%;
          padding: 4px 8px;
        }

        @include min-width-media(650px) {
          flex-flow: column nowrap;
        }
      }

      .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .participant {
        color: #c9c9c9;
        font-weight: 500;
        line-height: 1.375;

        @include font-size-media(32px, 18px, 600px);
      }

      .price {
        color: $blue-color;
        font-weight: 400;
        line-height: 1.5;

        @include font-size-media(14px, 12px, 600px);
      }
    }
  }

  @include min-width-media(600px) {
    gap: 8px;

    .card {
      width: unset;
      max-width: 429px;
      align-items: center;
      padding: 30px;
      margin: auto;

      .content {
        align-items: center;

        .participant {
          text-align: center;
        }

        .price {
          text-align: center;
        }
      }

      .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;

        .btn {
          width: 100%;
        }
      }
    }
  }
}
