@import '../../../../../styles/variables';

.text {
  max-width: 406px;

  img {
    width: auto;
    height: 59px;
  }

  .title {
    margin-top: 32px;
    font-weight: 600;
    line-height: 1.375;

    @include font-size-media(32px, 24px, 600px);
  }

  .content-text {
    margin-top: 16px;
    line-height: 1.5;

    @include font-size-media(14px, 12px, 600px);
  }

  @include min-width-media(900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
