@import '../../../styles/variables';

.container {
  @extend %container;

  display: grid;
  margin-top: 225px;
  grid-template-columns: 733px 1fr;
  grid-template-rows: 455px auto;

  .text-block {
    grid-column: 1 / span 1;
    grid-row: 1;
  }

  .circle {
    grid-column: 2;
    grid-row: 1;
    transform: translate(230px, -28px);
  }

  .image-wrapper {
    overflow: hidden;
    max-width: 438px;
    grid-column: 2;
    grid-row: 1;

    .creative {
      width: 100%;
      transform: translateY(45px);
    }
  }

  .advantages {
    grid-column: 1 / span 2;
    grid-row: 2;
    justify-self: end;
  }

  @include min-width-media(1230px) {
    .text-block,
    .circle,
    .image-wrapper {
      grid-column: 1 / span 2;
      grid-row: 1;
    }

    .text-block {
      z-index: 1;
    }

    .circle {
      transform: translate(-63px, -27px);
    }

    .image-wrapper,
    .circle {
      justify-self: right;
    }
  }

  @include min-width-media(900px) {
    margin-top: 120px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);

    .text-block {
      grid-column: 1 / span 2;
      grid-row: 1;
      justify-self: center;
      text-align: center;
    }

    .image-wrapper {
      width: 87.5%;
      align-self: center;
      padding-top: 100px;
      filter: opacity(50%);
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
      justify-self: center;
      transform: translate(0, 0);

      .creative {
        transform: translateY(0);
      }
    }

    .circle {
      margin-top: 10px;
      grid-column: 1 / span 2;
      grid-row: 2;
      justify-self: center;
      transform: scale(0.85);
    }

    .advantages {
      grid-column: 1 / span 2;
      grid-row: 3;
      justify-self: center;
    }
  }
}
