@import '../../../../../styles/variables';

.header {
  position: relative;
  overflow: hidden;
  height: 400px;
  background-color: $primary;

  .planet {
    position: absolute;
    top: -160px;
    right: 0;
  }

  .people {
    position: absolute;
    z-index: 1;
    bottom: 0;
    padding-left: 196px;
    transform: translateY(5px);
  }

  .text {
    position: absolute;
    top: 88px;
    left: 196px;
    color: $white;

    .title {
      font-weight: 700;
      line-height: 1.375;

      @include font-size-media(32px, 24px, 800px);
    }

    .content {
      width: 309px;
      margin-top: 16px;
      line-height: 1.5;

      @include font-size-media(16px, 12px, 800px);
    }
  }

  @include min-width-media(1200px) {
    height: 270px;

    .planet {
      top: -50px;
      right: -250px;

      img {
        width: auto;
        height: 370px;
      }
    }

    .people {
      padding-left: 53px;

      img {
        width: 214px;
        height: auto;
      }
    }

    .text {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @include min-width-media(800px) {
    .text {
      text-align: center;

      .title {
        width: 230px;
        margin: auto;
      }

      .content {
        max-width: 280px;
      }
    }
  }
}
