@import '../../../../../styles/variables';

.container {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  .image-block {
    position: relative;
    margin-top: 14px;

    img {
      width: 219px;
      height: 410px;
    }

    .help {
      position: absolute;
      top: -14px;
      left: 78px;
      width: 187px;
      height: 105.83px;
      box-sizing: border-box;
      padding: 19px 23px;
      border-radius: 11.9362px;
      background: linear-gradient(326.06deg, #f0ebff 11.53%, $white 74.32%);
      box-shadow: 0 13.5277px 39.7872px rgb(187 166 255 / 78%);
      font-weight: 500;
      line-height: 1.25;
      text-align: center;

      @include font-size-media(12px, 10px, 700px);

      .btn {
        height: 46px;
        padding: 0 20px;
        border-radius: 8px;
        margin-top: 7px;
        background: linear-gradient(326deg, #2641d1 11.5%, #3333a3 74.3%);
        font: inherit;
      }
    }
  }

  @include min-width-media(700px) {
    margin-top: 0;

    .image-block {
      padding-right: 80px;
      margin-top: 18px;

      img {
        width: 159px;
        height: 303px;
      }

      .help {
        top: 8px;
        left: 94px;
        display: flex;
        width: 138px;
        height: 84px;
        flex-direction: column;
        justify-content: space-between;
        padding: 16px 0;
        margin: 0 auto;

        .btn {
          padding: 8px;
          margin: 7px 11px 0;
          font-size: 10px;
        }
      }
    }
  }
}
