@font-face {
  font-display: swap;
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/GothamPro-Bold.woff2') format('woff2'),
    url('../assets/fonts/GothamPro-Bold.woff') format('woff'),
    url('../assets/fonts/gothampro_bold.ttf') format('ttf'),
    url('../assets/fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/GothamPro-Medium.woff2') format('woff2'),
    url('../assets/fonts/GothamPro-Medium.woff') format('woff'),
    url('../assets/fonts/gothampro_medium.ttf') format('ttf'),
    url('../assets/fonts/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
}

@font-face {
  font-display: swap;
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/GothamPro.woff2') format('woff2'),
    url('../assets/fonts/GothamPro.woff') format('woff'),
    url('../assets/fonts/gothampro.ttf') format('ttf'),
    url('../assets/fonts/GothamPro.svg#GothamPro') format('svg');
}
