@use 'sass:color';
@import './reset.css';
@import './variables';

html {
  font-family: $font;
  overflow-x: hidden;
}

body {
  background-color: $main-background;
  overflow-x: hidden;

  $size: 10px;

  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: $primary;

    &:hover {
      background-color: color.adjust($primary, $lightness: 20%);
    }
  }

  &::-webkit-scrollbar-track {
    background: $main-background;
  }
}
