@use 'sass:string';
@use 'sass:list';

$font: 'Gotham Pro', sans-serif;
$transition-fn: ease-out;
$transition-time: 250ms;
$transition: all $transition-time $transition-fn;
$black: #000;
$white: #fff;
$main-background: #f4f7fa;
$secondary-text: #303030;
$dark-text: #404040;
$primary: #273895;
$container-width: 1280px;

%container {
  max-width: $container-width;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}

/** min width media query */
@mixin min-width-media($width) {
  @media screen and (width < $width) {
    @content;
  }
}

/** min height media query */
@mixin min-height-media($height) {
  @media screen and (height < $height) {
    @content;
  }
}

/** has hover */
@mixin hover {
  @media screen and (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin reset-linc {
  text-decoration: none;
}

@function concat-list($list) {
  $res: '';

  @if list.length($list) == 1 {
    @return list.nth($list, 1);
  }

  @each $item in $list {
    $res: $res + $item + ', ';
  }

  @return $res;
}

/** set property transition */
@mixin use-transition($property...) {
  transition: string.slice(string.unquote(concat-list($property)), 0, -1)
    $transition-time $transition-fn;
}

@mixin font-size-media($max, $min, $break-point-width) {
  font-size: $max;

  @include use-transition(font-size);

  @media screen and (width < $break-point-width) {
    font-size: $min;
  }
}
