@import '../../../../../styles/variables';

.text {
  .main {
    max-width: 733px;
    color: #262626;
    font-weight: 700;
    line-height: 1.15em;

    @include font-size-media(48px, 24px, 600px);
  }

  .secondary {
    max-width: 547px;
    margin-top: 16px;
    color: $secondary-text;
    font-weight: 400;
    line-height: 1.5em;

    @include font-size-media(14px, 12px, 600px);
  }

  .button {
    margin-top: 41px;
  }

  @include min-width-media(900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include min-width-media(600px) {
    .button {
      margin-top: 16px;
    }
  }
}
