@import '../../../styles/variables';

.container {
  @extend %container;

  display: grid;
  max-width: 1020px;
  padding-top: 188px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);

  .text {
    padding-top: 25px;
  }

  .clients {
    padding-top: 48px;
    grid-column: 1 / span 2;
  }

  @include min-width-media(900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 72px;

    .cards {
      margin-top: 24px;
    }
  }

  @include min-width-media(700px) {
    .cards {
      height: 280px;
      padding-top: 0;
      margin-top: -40px;
    }

    .clients {
      padding-top: 10px;
    }
  }
}
