@import '../../../../../styles/variables';

.cards {
  position: relative;
  display: grid;
  max-width: 440px;
  grid-gap: 17px 23px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  transition: $transition;

  &::before,
  &::after {
    z-index: -1;
  }

  &::before {
    position: absolute;
    bottom: 143px;
    left: 20px;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background: linear-gradient(90deg, #e1d8ff 21.57%, #f4ecff 100%);
    content: '';
  }

  &::after {
    position: absolute;
    top: -35px;
    right: -95px;
    width: 159px;
    height: 159px;
    border-radius: 50%;
    background: linear-gradient(90deg, #e1d8ff 21.57%, #f4ecff 100%);
    content: '';
  }

  %card {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background: linear-gradient(236.29deg, $white 29.99%, #f4f9ff 79.17%);
    box-shadow: 0 4px 100px rgb(208 218 227 / 57%);

    .text {
      font-size: 14px;
      line-height: 1.5;
    }
  }

  .gradient {
    background: linear-gradient(180deg, #4614e8 0%, #bca7ff 100%), #7247ff;
    background-clip: text;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
  }

  .top-left {
    @extend %card;

    .gradient {
      font-size: 48px;
      line-height: 0.9;

      span {
        font-size: 16px;
        line-height: 1.5;
      }
    }

    width: 217px;
    height: 156px;
    padding: 32px;
    margin-right: 2px;
    justify-self: end;
  }

  .top-right {
    @extend %card;

    .gradient {
      font-size: 36px;
      line-height: 1.6;

      span {
        font-size: 16px;
        line-height: 1.5;
      }
    }

    width: 179px;
    height: 135px;
    align-self: end;
    padding: 20px;
  }

  .bottom-right {
    @extend %card;

    .gradient {
      font-size: 18px;
      letter-spacing: 2px;
      line-height: 2.75;
      transform: scaleY(0.8);
    }

    width: 192px;
    height: 171px;
    padding: 32px;
  }

  .bottom-left {
    @extend %card;

    .gradient {
      font-size: 36px;
      line-height: 1.6;
    }

    width: 179px;
    height: 135px;
    padding: 24px;
    justify-self: end;
  }

  @include min-width-media(700px) {
    transform: scale(64%);

    &::before {
      bottom: 76px;
    }

    &::after {
      top: -15px;
      right: -65px;
    }
  }
}
