@import '../../../../../styles/variables';

.container {
  @extend %container;

  display: flex;
  max-width: 1058px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../../../../assets/images/rope.svg');
  background-position: 40px 180px;
  background-repeat: no-repeat;
  gap: 48px;

  .main-title {
    color: $secondary-text;
    font-weight: 700;
    line-height: 1.375;

    @include font-size-media(32px, 24px, 600px);
  }

  .cards {
    display: grid;
    gap: 16px;
    grid-auto-flow: column;
    grid-template-columns: 296px repeat(2, 312px);
    grid-template-rows: repeat(2, auto);

    .card {
      display: flex;
      flex-direction: column;
      padding: 32px;
      border-radius: 20px;
      background-color: $white;
      box-shadow: 0 4px 100px rgb(208 218 227 / 57%);
      color: $dark-text;
      gap: 16px;

      @for $item from 1 through 3 {
        &:nth-child(#{$item}) {
          &::after {
            $size: 40px;
            $border-size: 2px;

            display: block;
            width: $size;
            height: $size;
            box-sizing: border-box;
            order: -1;
            border: $border-size solid $dark-text;
            border-radius: 50%;
            content: '#{$item}';
            font-size: 14px;
            font-weight: 700;
            line-height: $size - $border-size;
            text-align: center;
          }
        }
      }

      &:nth-child(3) {
        &::before {
          display: block;
          width: 231px;
          height: 161px;
          align-self: center;
          order: -2;
          margin: 40px 0 16px;
          background-image: url('../../../../../assets/images/diagrams.png');
          background-size: contain;
          content: '';
        }
      }

      @for $item from 3 through 4 {
        &:nth-child(#{$item}) {
          grid-row: 1 / span 2;
        }
      }

      .title {
        font-weight: 500;
        line-height: 2.25;

        @include font-size-media(16px, 14px, 600px);
      }

      .text {
        line-height: 1.25;

        @include font-size-media(14px, 12px, 600px);
      }

      &:nth-child(4) {
        height: fit-content;

        &::before {
          $size: 55px;

          display: block;
          width: $size;
          height: $size;
          background-image: url('../../../../../assets/images/target.svg');
          content: '';
        }
      }
    }
  }

  @include min-width-media(980px) {
    gap: 24px;

    .cards {
      display: flex;
      flex-direction: column;

      .card {
        max-width: 450px;
      }
    }
  }

  @include min-width-media(600px) {
    .cards {
      .card {
        &:nth-child(3)::before {
          width: 190px;
          height: 92px;
        }
      }
    }
  }
}
