@import '../../../../../styles/variables';

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 19px;

  .card {
    display: grid;
    width: 236px;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 20px;
    background: linear-gradient(236.29deg, $white 29.99%, #f4f9ff 79.17%);
    box-shadow: 0 4px 100px rgb(208 218 227 / 57%);
    grid-template-rows: 110px auto auto;

    .title {
      font-weight: 500;
      line-height: 1.25;

      @include font-size-media(16px, 14px, 900px);
    }

    .text {
      margin-top: 16px;
      line-height: 1.5;

      @include font-size-media(14px, 12px, 900px);
    }
  }

  @include min-width-media(500px) {
    gap: 8px;

    .card {
      width: unset;
    }
  }
}
