@import '../../../../../styles/variables';

.container {
  @extend %container;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 31px;

  .cards {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .card {
      display: grid;
      width: 1058px;
      box-sizing: border-box;
      border-radius: 20px;
      margin: auto;
      background-color: $white;
      color: $dark-text;
      grid-template-columns: 360px 1fr;
      grid-template-rows: repeat(2, auto);

      .bold {
        font-weight: 500;
      }

      .gray {
        color: #b7b6b6;
      }

      $offset: 10px;

      .list {
        margin: $offset 0 $offset 25px;

        li {
          list-style-type: disc;
        }
      }

      .offset-top {
        margin-top: $offset;
      }

      .image {
        align-self: center;
        margin-left: 110px;
        grid-row: 1 / span 2;
      }

      .title {
        margin-top: 48px;
        font-weight: 500;
        grid-column: 2;
        grid-row: 1;
        line-height: 2.25;

        @include font-size-media(16px, 14px, 600px);
      }

      .content {
        margin: 8px 187px 48px 0;
        grid-column: 2;
        grid-row: 2;
        line-height: 1.25;

        @include font-size-media(16px, 12px, 600px);
      }

      @include min-width-media(1058px) {
        width: 100%;
      }

      @include min-width-media(900px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
        gap: 16px;

        @each $item, $width in (1: 136px, 2: 136px, 3: 190px, 4: 143px) {
          &:nth-child(#{$item}) {
            .image {
              width: #{$width};
            }
          }
        }

        .image,
        .title {
          margin: 0;
        }

        .content {
          margin: 0;
          text-align: center;

          .list {
            margin-left: 0;

            li {
              list-style-type: none;
            }
          }
        }
      }
    }

    @include min-width-media(900px) {
      gap: 8px;
    }
  }

  @include min-width-media(900px) {
    gap: 24px;
  }
}
