@import '../../../../../styles/variables';

.container {
  .title {
    margin-top: 48px;
    color: #34449c;
    font-weight: 700;
    letter-spacing: 0.17em;
    line-height: 2.75;

    @include font-size-media(16px, 14px, 900px);
  }

  .text {
    margin-bottom: 1.5em;
    color: $dark-text;
    line-height: 1.5;

    @include font-size-media(14px, 12px, 900px);
  }

  @include min-width-media(1050px) {
    .title {
      margin-top: 10px;
    }
  }
}
