.triangle-container {
  $radius: 1px;

  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 9px;
  height: 17px;
  border-radius: $radius;
  transform: rotate(-135deg);

  .triangle {
    position: absolute;
    width: 200%;
    height: 100%;
    border-radius: $radius;
    background-color: #2840cd;
    transform: rotate(45deg) scale(0.7);
  }
}
