@import '../../../styles/variables';

.container {
  @extend %container;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 370px auto;

  .title {
    margin-top: 144px;
    font-weight: 700;
    grid-column: 1 / span 3;
    line-height: 1.375;
    text-align: center;

    @include font-size-media(32px, 24px, 600px);
  }

  .cards {
    grid-column: 1 / span 3;
    grid-row: 3;
  }

  @include min-width-media(1050px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);

    .title {
      margin-top: 72px;
      grid-column: 1 / span 2;
    }

    .phone {
      align-self: center;
      grid-column: 1;
      grid-row: 2 / span 2;
    }

    .cards {
      grid-column: 1 / span 2;
      grid-row: 4;
    }
  }

  @include min-width-media(700px) {
    display: flex;
    flex-direction: column;
  }
}
