@import '../../../styles/variables';

.container {
  @extend %container;

  .header {
    margin-top: 144px;
  }

  .cards {
    margin-top: 32px;
  }

  @include min-width-media(600px) {
    .header {
      margin-top: 72px;
    }

    .cards {
      margin-top: 16px;
    }
  }
}
