@import '../../../styles/variables';

.container {
  margin-top: 144px;

  .hero {
    margin: 144px auto 0;
  }

  @include min-width-media(900px) {
    margin-top: 72px;

    .hero {
      margin: 72px auto 0;
    }
  }
}
