@import '../../styles/variables';

.header {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  padding: 56px 0 10px;
  background-color: $main-background;

  @include use-transition(box-shadow);

  &.open {
    @include min-height-media(450px) {
      overflow: auto;
      inset: 0;
    }
  }

  .wrap {
    @extend %container;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .logo {
      position: relative;
      display: flex;
      align-items: center;
      gap: 62px;

      @include use-transition(opacity);

      .img-wrap {
        width: 200px;
        box-sizing: border-box;
        padding-right: 0;
        transition: $transition;
      }

      img {
        width: 100%;
      }

      &::before {
        position: absolute;
        top: -400px;
        left: -400px;
        display: block;
        width: 921px;
        height: 921px;
        border-radius: 50%;
        background: radial-gradient(
          50% 50% at 50% 50%,
          rgb(205 187 239 / 20%) 0%,
          rgb(196 196 196 / 0%) 100%
        );
        content: '';
        pointer-events: none;
      }

      div:last-child {
        width: 227px;
        color: $secondary-text;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.66em;
      }
    }

    .login {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 700;
      gap: 36px;
      line-height: 1.125em;

      a {
        @include reset-linc;
      }

      .phone {
        color: $secondary-text;
      }

      .btn {
        font-weight: 500;
      }
    }

    .nav {
      padding-top: 48px;
    }

    .icon-btns {
      display: none;
    }

    @include min-width-media(900px) {
      align-items: center;
      padding: 10px;

      .nav {
        padding-top: 0;
      }

      &.open {
        align-items: center;
      }

      .logo div:last-child,
      .phone,
      .btn {
        display: none;
      }

      .logo {
        &::before {
          display: none;
        }

        .img-wrap {
          width: unset;

          img {
            width: 90px;
            height: 30px;
          }
        }
      }

      .icon-btns {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  &.scrolled:not(.open) {
    padding-top: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);

    .logo {
      height: 56px;

      .img-wrap {
        padding-right: 42px;
      }
    }

    .nav {
      padding-top: 10px;
      transition: $transition;
    }
  }

  @include min-width-media(900px) {
    padding-top: 0;

    &.scrolled:not(.open) {
      padding-top: 0;
    }
  }

  @include min-height-media(450px) {
    @media screen and (orientation: landscape) {
      &.scrolled:not(.open) {
        background-color: transparent;
        box-shadow: none;

        .logo {
          opacity: 0;
        }
      }
    }
  }
}
