.button {
  $size: 50px;

  display: flex;
  width: $size;
  height: $size;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 7px;
  background-color: #dee6ef;
  cursor: pointer;

  span {
    position: relative;
    left: 0;
  }

  span,
  span::before,
  span::after {
    display: block;
    width: 22px;
    height: 2px;
    box-sizing: border-box;
    border-radius: 1px;
    background-color: #4614e8;
    content: '';
    transition: all 250ms ease-out;
  }

  span::before,
  span::after {
    position: absolute;
    content: '';
  }

  $offset: 7px;

  span::before {
    top: $offset;
  }

  span::after {
    bottom: $offset;
  }

  &.open {
    span {
      left: -11px;
      width: 0;
      background-color: transparent;
    }

    span::before {
      transform: rotate(-45deg) translate(2px, 3px);
      transform-origin: top left;
    }

    span::after {
      transform: rotate(45deg) translate(1px, -3px);
      transform-origin: bottom left;
    }
  }
}
