@import '../../../../../styles/variables';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  .title {
    font-weight: 700;
    line-height: 1.375;

    @include font-size-media(32px, 24px, 600px);
  }

  .text {
    color: $dark-text;
    line-height: 1.5;

    @include font-size-media(14px, 12px, 600px);
  }

  .buttons {
    display: flex;
    align-items: center;
    margin-top: 16px;
    font-weight: 500;
    gap: 64px;
    line-height: 1.5;

    @include font-size-media(20px, 13px, 600px);

    .btn {
      padding: 10px 28px;
      font: inherit;
    }

    span {
      display: inline-block;
      border-bottom: 1px dashed #2741cf;
      margin-right: 60px;

      a {
        margin-bottom: 5px;
        color: #2741cf;
        text-decoration: none;
      }
    }
  }

  @include min-width-media(600px) {
    gap: 8px;

    .buttons {
      gap: 25px;

      span {
        margin-right: 10px;
      }
    }
  }
}
