@import '../../styles/variables';

.container {
  border-top: 1px solid #dee6ef;
  margin-top: 171px;

  .top {
    display: flex;
    justify-content: space-between;
    padding: 32px 110px 32px 80px;

    .logo {
      display: flex;
      align-items: center;
      gap: 48px;

      p {
        max-width: 227px;
        color: $secondary-text;
        font-size: 12px;
        line-height: 1.66;
      }
    }

    .social {
      display: flex;
      gap: 8px;

      .item {
        $size: 36px;

        display: flex;
        width: $size;
        height: $size;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        border: 1px solid #cfdae7;
        border-radius: 10px;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    padding: 16px 110px 16px 80px;
    background-color: #e8edf3;
    color: #7a7a7a;

    .left {
      font-size: 12px;
      line-height: 1.67;
    }

    .right {
      font-size: 10px;
      line-height: 2;

      a {
        @include reset-linc;

        &:visited {
          color: #7a7a7a;
        }

        &:last-child {
          margin-left: 16px;
        }
      }
    }
  }

  @include min-width-media(910px) {
    margin-top: 149px;

    .top {
      flex-direction: column;
      align-items: center;
      padding: 32px 47px;
      gap: 32px;

      .logo {
        flex-direction: column;
        gap: 16px;
        text-align: center;

        img {
          height: 37px;
        }
      }

      .social {
        .item {
          $size: 45px;

          width: $size;
          height: $size;

          img {
            height: 23px;
          }
        }
      }
    }

    .bottom {
      flex-direction: column-reverse;
      align-items: center;
      padding: 32px 20px 20px;
      gap: 32px;
      text-align: center;

      .right {
        display: flex;
        flex-direction: column;
        gap: 8px;

        a:last-child {
          margin: 0;
        }
      }
    }
  }
}
