@import '../../../../../styles/variables';

.clients {
  display: flex;
  flex-direction: column;
  gap: 31px;

  %title-text {
    font-weight: 700;
    line-height: 1.5;

    @include font-size-media(16px, 14px, 600px);
  }

  .header {
    @extend %title-text;

    text-align: center;
  }

  .cards {
    display: flex;
    gap: 16px;

    .card {
      display: flex;
      flex-direction: column;
      padding: 32px;
      border-radius: 10px;
      background-color: $white;
      gap: 16px;

      .title {
        @extend %title-text;
      }

      img {
        width: 160px;
        height: auto;
        align-self: center;
      }

      .text {
        line-height: 1.5;

        @include font-size-media(14px, 12px, 600px);
      }
    }
  }

  @include min-width-media(780px) {
    .cards {
      flex-wrap: wrap;
      gap: 8px;
    }
  }
}
